/* Custom propierties */
:root {
    --main-color: #000000;
    --link-color: #696969;
    --negative-color: #ffffff;
    --secondary-color: #b4d0e7;
    --accent-color: #0061ff;
    --contrast-color: #61082b;
    --brand-color-one: #A2D39B;
    --brand-color-three: #0093ce;
    --brand-color-four: #ff1c1c;
    --brand-color-five: #d5001f;
    --brand-color-seven: #0d2481;
    --brand-color-eight: #ffd830;
}

/* -------------------------------------------------------------------------------- */
/* ! General */
/* -------------------------------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--main-color);
    background-color: var(--negative-color);
    font-size: 0.85rem;
    min-width: 1200px;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a.link-initial {
    color: var(--accent-color);
    text-decoration: underline;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

span.fill {
    display: block;
    width: 100px;
    border-bottom: 2px solid var(--link-color);
}

span.fill-full-widht {
    width: 100%;
}

/* Bottoni */
.btn-evi {
    background-color: var(--accent-color);
    color: var(--negative-color);
    line-height: 2.5;
    padding: 10px 15px;
    display: inline;
}

a.btn-evi {
    color: var(--negative-color);
}

a.btn-evi:hover {
    background-color: var(--contrast-color);
    transition: all .3s;
}

.btn-plan {
    background-color: var(--negative-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

a.btn-plan:hover {
    background-color: var(--main-color);
    color: var(--negative-color);
}

.btn-fw {
    width: 100%;
    display: block;
    line-height: 1;
    padding: 10px 0px;
}

a.btn-plan {
    color: var(--link-color);
}

/* Layout */
.left-content {
    width: 40%;
}

.right-content {
    width: 60%;
}

/* Navigation */
nav {
    background-color: var(--negative-color);
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    box-shadow: 0 1px 3px #666;
}

header nav ul li a:not(a.logo):not(a.btn-evi) {
    font-weight: 600;
    display: block;
    line-height: 80px;
    padding: 0 20px;
}

nav ul li a:hover:not(a.logo):not(a.btn-evi) {
    border-bottom: 2px solid var(--accent-color);
}

/* Sub-menu */
.sub-menu {
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: var(--negative-color);
    display: none;
}

nav>ul li:hover .sub-menu {
    display: block;
}

/* Hero */
.hero {
    margin-top: 80px;
    background-color: var(--secondary-color);
}

.hero-title {
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1;
}

.hero-description-left {
    width: 35%;
}

.hero-description-right img {
    position: relative;
    bottom: -100px;
}

.hero-description-right {
    width: 65%;
}

.hero .row-down a {
    font-size: 3rem;
    color: var(--main-color);
}

/* Plan table */
.plan-table {
    gap: 10px;
}

.plan-table-column {
    border: 1px solid var(--main-color);
    width: calc(100% / 3 - 10px);
}

.plan-table-full-width {
    width: 100%;
    flex-direction: column;
}

.plan-table-header {
    padding: 5px 0;
    border-bottom: 1px solid var(--main-color);
}

.plan-table-body {
    padding: 10px 20px;
}

.plan-table-body .price {
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 30px;
}

.plan-table-body .price>span {
    color: var(--link-color);
    font-weight: 400;
}

li.list-icon {
    list-style-type: none;
    padding-left: 1.2em;
    text-indent: -1.5em;
    margin-bottom: 20px;
}

.list-icon::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 800;
    margin-right: 5px;
}

.user::before {
    content: '\f007';
}

.space::before {
    content: '\f07b';
}

.feat::before {
    content: '\f1e0'
}

.check::before {
    content: '\f00c';
    font-weight: 800;
    color: var(--accent-color);
}

li.main-charatterics-title {
    font-weight: 600;
    margin-bottom: 20px;
}

/*Features */
.features-grid {
    gap: 15px;
}

.features-grid-card {
    width: calc(100% / 3 - 15px);
}

/* Partner */
.partner-left,
.partner-center,
.partner-right {
    width: calc(100% / 3);
}

.partner-left-item,
.partner-right-item {
    width: 50%;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
}

.partner-left-item img,
.partner-right-item img {
    filter: invert(100%);
    width: 50%;
}

.partner-center {
    aspect-ratio: 1 / 1;
    overflow-y: auto;
    padding: 40px;
    background-color: #f5f5f5;
}

.partner-center img {
    width: 50%;
}

/* -------------------------------------------------------------------------------- */
/* ! Customize scroll-bar */
/* -------------------------------------------------------------------------------- */
.partner-center::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.partner-center::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ccc;
}

/* Handle */
.partner-center::-webkit-scrollbar-thumb {
    background: var(--link-color);
}

/* Handle on hover */
.partner-center::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

/* Box loghi */
.partner-logo {
    min-height: 200px;
    min-width: 200px;
}

.brand-one {
    background-color: var(--brand-color-one);
}

.brand-one:hover {
    border: 10px solid #c8f1c3;
}

.brand-two {
    background-color: var(--brand-color-three);
}

.brand-three {
    background-color: var(--contrast-color);
}

.brand-three:hover {
    border: 10px solid #c15d85;
}

.brand-four {
    background-color: var(--brand-color-four);
}

.brand-five {
    background-color: var(--brand-color-five);
}

.brand-six {
    background-color: var(--secondary-color);
}

.brand-seven {
    background-color: var(--brand-color-seven);
}

.brand-eight {
    background-color: var(--brand-color-eight);
}

/* Call to action */
#call-to-action {
    background-color: var(--secondary-color);
}

#call-to-action .right-content h2 {
    font-size: 2rem;
    color: var(--contrast-color);
    font-size: 800;
    padding-right: 30px;
}

#call-to-action .left-content a {
    border: none;
    width: 100%;
    display: inline-block;
    text-align: center;
}

#call-to-action.left-content {
    align-items: center;
}

/* FAQ */
summary {
    background-color: var(--negative-color);
    border: none;
    width: 100%;
    padding: 20px 10px 20px 0;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 700;
    display: block;
    position: relative;
    /* border-top: 0.5px solid var(--main-color); */
    border-bottom: 1px solid var(--main-color);
}

details.first-faq {
    border-top: 1px solid var(--main-color);
}

summary::after {
    content: '\f107';
    font-family: 'Font Awesome 6 Free';
    position: absolute;
    right: 0;
    top: 25%;
    padding: 10px;
    font-size: 1rem;
    font-weight: 800;
}

summary:hover::after {
    content: '\f106';
    transition: all 0.7s;
}

.panel {
    padding: 10px;
    background-color: var(--secondary-color);
}

/* Footer */
footer {
    background-color: var(--main-color);
    color: var(--negative-color);
}

footer a {
    color: var(--negative-color);
}

footer li {
    margin-bottom: 20px;
}

footer .footer-top {
    width: 100%;
}

footer .footer-top ul {
    width: calc(100% / 5);
}

.language {
    position: relative;
    width: 110px;
}

select {
    background: transparent;
    color: var(--negative-color);
    border: none;
    width: 100%;
    appearance: none;
    font-family: 'Open Sans', sans-serif;
    transition: all .2s;
    margin-left: 15px;
}

.icon-container {
    color: var(--negative-color);
    position: absolute;
    cursor: pointer;
    right: 5px;
    display: flex;
}

select:focus {
    border: 1px solid var(--negative-color);
    border-radius: 5px;
    padding: 5px;
    transition: all .2s;
}

option:not(selected) {
    color: var(--main-color);
}