/* Custom propierties */
:root {
    --main-color: #000000;
    --link-color: #696969;
    --negative-color: #ffffff;
    --secondary-color: #b4d0e7;
    --accent-color: #0061ff;
    --contrast-color: #61082b;
    --brand-color-one: #a2d39b;
    --brand-color-two: #0093ce;
    --brand-color-three: #ff1c1c;
    --brand-color-four: #d5001f;
    --brand-color-five: #0d2481;
    --brand-color-six: #ffd830;
    --brand-color-seven: #f5f5f5;
}

/* General */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--main-color);
    background-color: var(--negative-color);
    font-size: 1rem;
    /* min-width: 1200px; */
}

a {
    text-decoration: none;
    color: var(--link-color);
}

/* Bottoni */
.btn-evi {
    background-color: var(--accent-color);
    color: var(--negative-color);
    line-height: 2.5;
    padding: 5px 15px;
    display: inline;
}

/* Navigation */
nav {
    background-color: var(--negative-color);
    align-items: center;
    padding: 0px 20px;
    height: 80px;
    box-shadow: 0 1px 3px #666;
    font-size: 0.85rem;
}

header nav ul li a:not(a.logo):not(a.btn-evi) {
    font-weight: 600;
    display: block;
    line-height: 80px;
    padding: 0 20px;
}

nav ul li a:hover:not(a.logo) {
    border-bottom: 2px solid var(--accent-color);
}

/* Hero */
.hero {
    margin-top: 80px;
    background-color: var(--secondary-color);
}

.hero-title {
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1;
}

.hero-description-left {
    width: 35%;
}

.hero-description-right img {
    position: relative;
    bottom: -100px;
}

.hero-description-right {
    width: 65%;
}

.hero .row-down a {
    font-size: 3rem;
    color: var(--main-color);
}

/* Call to action */
#call-to-action {
    background-color: var(--secondary-color);
}

/* Footer */
footer {
    background-color: var(--main-color);
    color: var(--negative-color);
}